<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/style.css" />
    <title>404 page</title>
  </head>
  <body>
    <section>
      <h2 class="sr-only">404 에러페이지</h2>
      <div
        class="flex flex-col items-center justify-center max-h-screen min-h-screen text-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="mb-10 w-14 h-14 opacity-20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
          />
        </svg>

        <strong class="mb-6 text-2xl"
          >페이지를 찾을 수<br />
          없습니다.</strong
        >
        <p class="mb-8 text-sm text-gray-500">
          페이지의 주소가 잘못 입력되었거나,<br />
          변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.<br />
          입력하신 페이지의 주소가 정확한지 다시 한번 확인해주세요.
        </p>
        <a class="block py-3 font-bold text-white bg-black cursor-pointer w-36"
          >마켓 홈</a
        >
        <a class="block py-3 font-bold text-gray-500 cursor-pointer w-36"
          >이전 페이지</a
        >
      </div>
    </section>
  </body>
</html>
